/*Portions of this code have been adapted from:*/
/*https://github.com/alxndr13/wofi-nord-theme*/
/*Original author: Alexander Huck*/
/*MIT license*/

* {
font-family: "Maple Mono", monospace;
}

window {
    background-color: #3B4252;
}

#input {
margin: 5px;
border-radius: 0px;
border: none;
background-color: #3B4252;
color: white;
}

#inner-box {
background-color: #383C4A;
}

#outer-box {
margin: 2px;
padding: 10px;
background-color: #383C4A;
}

#scroll {
margin: 5px;
}

#text {
padding: 4px;
color: white;
}

#entry:{
background-color: #404552;
}

#text:selected {
background: transparent;
}
